# <center> <h1> Electiva DSI-II </h1> </center>
___
Presentado por: Sergio David Díaz Veru

Correo: sergio.diaz03@usa.edu.co
___

<center> <h1> Actividad en clase 18/5/23 </h1> </center>

In [32]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth, fpmax
import warnings
warnings.filterwarnings('ignore')

# Reglas de asociación

In [33]:
df = pd.read_csv('https://gist.githubusercontent.com/nnbphuong/016093619a86f643211211779592e336/raw/a98c0144b442eafebadb2ca841f7ae68e7261a71/Faceplate.csv', index_col=0)

In [34]:
df

             Red  White  Blue  Orange  Green  Yellow
Transaction
1              1      1     0       0      1       0
2              0      1     0       1      0       0
3              0      1     1       0      0       0
4              1      1     0       1      0       0
5              1      0     1       0      0       0
6              0      1     1       0      0       0
7              1      0     1       0      0       0
8              1      1     1       0      1       0
9              1      1     1       0      0       0
10             0      0     0       0      0       1

* Support de red $\to$ White
* support $(R\to W) = support(R\cup W)$
$$support(R\cup W) = support(R) + suppor(W) - support(R\cap W)$$
$$support(R\cup W) = 0.6 + 0.7 - 0.4$$

In [35]:
(df[df['Red']==1]['Red'].count())/df.shape[0]

0.6

In [36]:
0.6+0.7-0.4

0.8999999999999998

* lift de red green

In [37]:
(0.2/0.6)/0.2

1.6666666666666667

* Lift de `white, blue` $\to$ `green`

In [38]:
(0.1/0.4)/0.2

1.25

* Lift de `white, red` $\to$ `green`

In [39]:
(0.2/0.4)/0.2

2.5

In [40]:
items = apriori(df, min_support=0.2, use_colnames=True)

In [41]:
items

    support             itemsets
0       0.6                (Red)
1       0.7              (White)
2       0.6               (Blue)
3       0.2             (Orange)
4       0.2              (Green)
5       0.4         (Red, White)
6       0.4          (Blue, Red)
7       0.2         (Red, Green)
8       0.4        (Blue, White)
9       0.2      (Orange, White)
10      0.2       (Green, White)
11      0.2   (Blue, Red, White)
12      0.2  (Red, Green, White)

In [42]:
association_rules(items, min_threshold=0.4, metric='confidence').sort_values(by = ['confidence', 'zhangs_metric'],
                                                                             ascending=[False, False])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
15,(Green),"(Red, White)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf,0.750000
4,(Green),(Red),0.2,0.6,0.2,1.000000,1.666667,0.08,inf,0.500000
14,"(Green, White)",(Red),0.2,0.6,0.2,1.000000,1.666667,0.08,inf,0.500000
7,(Orange),(White),0.2,0.7,0.2,1.000000,1.428571,0.06,inf,0.375000
8,(Green),(White),0.2,0.7,0.2,1.000000,1.428571,0.06,inf,0.375000
12,"(Red, Green)",(White),0.2,0.7,0.2,1.000000,1.428571,0.06,inf,0.375000
2,(Blue),(Red),0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000,0.250000
3,(Red),(Blue),0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000,0.250000
0,(Red),(White),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.900000,-0.111111
5,(Blue),(White),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.900000,-0.111111
1,(White),(Red),0.7,0.6,0.4,0.571429,0.952381,-0.02,0.933333,-0.142857
6,(White),(Blue),0.7,0.6,0.4,0.571429,0.952381,-0.02,0.933333,-0.142857
13,"(Red, White)",(Green),0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000,1.000000
10,"(Blue, White)",(Red),0.4,0.6,0.2,0.500000,0.833333,-0.04,0.800000,-0.250000
11,"(Red, White)",(Blue),0.4,0.6,0.2,0.500000,0.833333,-0.04,0.800000,-0.250000
9,"(Blue, Red)",(White),0.4,0.7,0.2,0.500000,0.714286,-0.08,0.600000,-0.400000

In [43]:
0.2-0.4*0.2

0.12

In [44]:
(0.4*0.2)/(0.2)

0.4000000000000001

In [45]:
0.2/(0.4*0.2)

2.4999999999999996

In [46]:
0.2/0.08

2.5

In [47]:
(0.4*0.8)/0.2

1.6000000000000003

# Chartbook clock

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/prnvg/Charles-Book-Club/refs/heads/master/CBC.csv', index_col=0)

In [49]:
df.shape

(4000, 18)

In [50]:
df.head()

,ID#,Gender,M,R,F,FirstPurch,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeoBks,ItalCook,ItalAtlas,ItalArt,Florence,Related purchase
Seq#,,,,,,,,,,,,,,,,,,
1,25,1,297,14,2,22,0,1,1,0,0,0,0,0,0,0,0,0
2,29,0,128,8,2,10,0,0,0,0,0,0,0,0,0,0,0,0
3,46,1,138,22,7,56,2,1,2,0,1,0,1,1,0,0,0,2
4,47,1,228,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0
5,51,1,257,10,1,10,0,0,0,0,0,0,0,0,0,0,0,0

In [51]:
df.columns

Index(['ID#', 'Gender', 'M', 'R', 'F', 'FirstPurch', 'ChildBks', 'YouthBks',
       'CookBks', 'DoItYBks', 'RefBks', 'ArtBks', 'GeoBks', 'ItalCook',
       'ItalAtlas', 'ItalArt', 'Florence', 'Related purchase'],
      dtype='object')

In [52]:
df_books = df[['ChildBks', 'YouthBks',
       'CookBks', 'DoItYBks', 'RefBks', 'ArtBks', 'GeoBks', 'ItalCook',
       'ItalAtlas', 'ItalArt', 'Florence']]

* $(ChildBks, YouthBks) \to (CookBks)$
* $(ChildBks, RefBks) \to (CookBks)$
* $(DoItYBks, ChildBks) \to (CookBks)$

In [53]:
df_model = pd.DataFrame(np.where(df_books>0, 1, 0), columns = df_books.columns, index=df_books.index)

In [54]:
#df_books = (df_books > 0).astype('int')

In [55]:
df_model

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeoBks,ItalCook,ItalAtlas,ItalArt,Florence
Seq#,,,,,,,,,,,
1,0,1,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3996,0,0,0,0,0,0,0,0,0,0,0
3997,1,1,1,1,1,0,1,0,0,0,0
3998,0,0,0,0,0,0,0,0,0,0,0
3999,1,1,1,1,0,0,0,0,0,0,0
4000,0,0,0,0,0,0,1,0,0,0,0

In [56]:
items_books = apriori(df_model, min_support=0.1, use_colnames=True)

In [57]:
items_books

    support                       itemsets
0   0.39400                     (ChildBks)
1   0.23825                     (YouthBks)
2   0.41550                      (CookBks)
3   0.25475                     (DoItYBks)
4   0.20475                       (RefBks)
5   0.22300                       (ArtBks)
6   0.26675                       (GeoBks)
7   0.10750                     (ItalCook)
8   0.14750           (YouthBks, ChildBks)
9   0.24200            (CookBks, ChildBks)
10  0.16150           (DoItYBks, ChildBks)
11  0.12825             (RefBks, ChildBks)
12  0.10525             (ArtBks, ChildBks)
13  0.14625             (GeoBks, ChildBks)
14  0.16100            (YouthBks, CookBks)
15  0.10325           (YouthBks, DoItYBks)
16  0.10450             (YouthBks, GeoBks)
17  0.16875            (CookBks, DoItYBks)
18  0.13975              (CookBks, RefBks)
19  0.11300              (ArtBks, CookBks)
20  0.15625              (GeoBks, CookBks)
21  0.10100             (GeoBks, DoItYBks)
22  0.12000  (YouthBks, CookBks, ChildBks)
23  0.12775  (CookBks, DoItYBks, ChildBks)
24  0.10350    (CookBks, RefBks, ChildBks)
25  0.10950    (GeoBks, CookBks, ChildBks)

In [58]:
association_rules(items_books, min_threshold=0.2).sort_values(by = ['confidence', 'zhangs_metric'], ascending=[False, False])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
29,"(YouthBks, ChildBks)",(CookBks),0.14750,0.41550,0.12000,0.813559,1.958025,0.058714,3.135045,0.573937
42,"(RefBks, ChildBks)",(CookBks),0.12825,0.41550,0.10350,0.807018,1.942280,0.050212,3.028773,0.556514
36,"(DoItYBks, ChildBks)",(CookBks),0.16150,0.41550,0.12775,0.791022,1.903783,0.060647,2.796941,0.566166
34,"(CookBks, DoItYBks)",(ChildBks),0.16875,0.39400,0.12775,0.757037,1.921414,0.061262,2.494207,0.576902
47,"(GeoBks, ChildBks)",(CookBks),0.14625,0.41550,0.10950,0.748718,1.801969,0.048733,2.326071,0.521290
28,"(YouthBks, CookBks)",(ChildBks),0.16100,0.39400,0.12000,0.745342,1.891730,0.056566,2.379659,0.561839
40,"(CookBks, RefBks)",(ChildBks),0.13975,0.39400,0.10350,0.740608,1.879716,0.048438,2.336234,0.544034
46,"(GeoBks, CookBks)",(ChildBks),0.15625,0.39400,0.10950,0.700800,1.778680,0.047937,2.025401,0.518857
21,(RefBks),(CookBks),0.20475,0.41550,0.13975,0.682540,1.642695,0.054676,1.841175,0.491976
12,(YouthBks),(CookBks),0.23825,0.41550,0.16100,0.675761,1.626380,0.062007,1.802681,0.505596
19,(DoItYBks),(CookBks),0.25475,0.41550,0.16875,0.662414,1.594258,0.062901,1.731411,0.500166
4,(DoItYBks),(ChildBks),0.25475,0.39400,0.16150,0.633955,1.609022,0.061129,1.655534,0.507889
6,(RefBks),(ChildBks),0.20475,0.39400,0.12825,0.626374,1.589781,0.047579,1.621941,0.466498
0,(YouthBks),(ChildBks),0.23825,0.39400,0.14750,0.619098,1.571314,0.053629,1.590959,0.477309
3,(ChildBks),(CookBks),0.39400,0.41550,0.24200,0.614213,1.478251,0.078293,1.515086,0.533869
24,(GeoBks),(CookBks),0.26675,0.41550,0.15625,0.585754,1.409758,0.045415,1.410999,0.396397
2,(CookBks),(ChildBks),0.41550,0.39400,0.24200,0.582431,1.478251,0.078293,1.451256,0.553507
10,(GeoBks),(ChildBks),0.26675,0.39400,0.14625,0.548266,1.391538,0.041150,1.341498,0.383731
35,"(CookBks, ChildBks)",(DoItYBks),0.24200,0.25475,0.12775,0.527893,2.072198,0.066101,1.578560,0.682613
22,(ArtBks),(CookBks),0.22300,0.41550,0.11300,0.506726,1.219558,0.020344,1.184941,0.231700
44,(RefBks),"(CookBks, ChildBks)",0.20475,0.24200,0.10350,0.505495,2.088820,0.053950,1.532844,0.655468
31,(YouthBks),"(CookBks, ChildBks)",0.23825,0.24200,0.12000,0.503673,2.081292,0.062344,1.527218,0.682021
38,(DoItYBks),"(CookBks, ChildBks)",0.25475,0.24200,0.12775,0.501472,2.072198,0.066101,1.520476,0.694292
30,"(CookBks, ChildBks)",(YouthBks),0.24200,0.23825,0.12000,0.495868,2.081292,0.062344,1.511012,0.685395
8,(ArtBks),(ChildBks),0.22300,0.39400,0.10525,0.471973,1.197901,0.017388,1.147669,0.212621
48,"(CookBks, ChildBks)",(GeoBks),0.24200,0.26675,0.10950,0.452479,1.696267,0.044947,1.339219,0.541518
16,(YouthBks),(GeoBks),0.23825,0.26675,0.10450,0.438615,1.644292,0.040947,1.306144,0.514389
14,(YouthBks),(DoItYBks),0.23825,0.25475,0.10325,0.433368,1.701151,0.042556,1.315228,0.541074
41,"(CookBks, ChildBks)",(RefBks),0.24200,0.20475,0.10350,0.427686,2.088820,0.053950,1.389534,0.687679
49,(GeoBks),"(CookBks, ChildBks)",0.26675,0.24200,0.10950,0.410497,1.696267,0.044947,1.285828,0.559796
5,(ChildBks),(DoItYBks),0.39400,0.25475,0.16150,0.409898,1.609022,0.061129,1.262918,0.624595
18,(CookBks),(DoItYBks),0.41550,0.25475,0.16875,0.406137,1.594258,0.062901,1.254919,0.637723
15,(DoItYBks),(YouthBks),0.25475,0.23825,0.10325,0.405299,1.701151,0.042556,1.280896,0.553053
27,(DoItYBks),(GeoBks),0.25475,0.26675,0.10100,0.396467,1.486287,0.033045,1.214930,0.439024
17,(GeoBks),(YouthBks),0.26675,0.23825,0.10450,0.391753,1.644292,0.040947,1.252369,0.534382
13,(CookBks),(YouthBks),0.41550,0.23825,0.16100,0.387485,1.626380,0.062007,1.243643,0.658918
26,(GeoBks),(DoItYBks),0.26675,0.25475,0.10100,0.378632,1.486287,0.033045,1.199369,0.446209
25,(CookBks),(GeoBks),0.41550,0.26675,0.15625,0.376053,1.409758,0.045415,1.175180,0.497277
1,(ChildBks),(YouthBks),0.39400,0.23825,0.14750,0.374365,1.571314,0.053629,1.217564,0.599983
11,(ChildBks),(GeoBks),0.39400,0.26675,0.14625,0.371193,1.391538,0.041150,1.166097,0.464308
20,(CookBks),(RefBks),0.41550,0.20475,0.13975,0.336342,1.642695,0.054676,1.198282,0.669366
7,(ChildBks),(RefBks),0.39400,0.20475,0.12825,0.325508,1.589781,0.047579,1.179035,0.612182
39,(ChildBks),"(CookBks, DoItYBks)",0.39400,0.16875,0.12775,0.324239,1.921414,0.061262,1.230094,0.791336
37,(CookBks),"(DoItYBks, ChildBks)",0.41550,0.16150,0.12775,0.307461,1.903783,0.060647,1.210762,0.812198
33,(ChildBks),"(YouthBks, CookBks)",0.39400,0.16100,0.12000,0.304569,1.891730,0.056566,1.206445,0.777860
32,(CookBks),"(YouthBks, ChildBks)",0.41550,0.14750,0.12000,0.288809,1.958025,0.058714,1.198693,0.837094
51,(ChildBks),"(GeoBks, CookBks)",0.39400,0.15625,0.10950,0.277919,1.778680,0.047937,1.168497,0.722418
23,(CookBks),(ArtBks),0.41550,0.22300,0.11300,0.271961,1.219558,0.020344,1.067251,0.308009
9,(ChildBks),(ArtBks),0.39400,0.22300,0.10525,0.267132,1.197901,0.017388,1.060218,0.272618
50,(CookBks),"(GeoBks, ChildBks)",0.41550,0.14625,0.10950,0.263538,1.801969,0.048733,1.159259,0.761422
45,(ChildBks),"(CookBks, RefBks)",0.39400,0.13975,0.10350,0.262690,1.879716,0.048438,1.166742,0.772285
43,(CookBks),"(RefBks, ChildBks)",0.41550,0.12825,0.10350,0.249097,1.942280,0.050212,1.160936,0.830011

(ChildBks,YouthBks)→(CookBks)

(ChildBks,RefBks)→(CookBks)

(DoItYBks,ChildBks)→(CookBks)

* (ChildBks, RefBks)	(CookBks)
* (GeogBks, CookBks)	(ChildBks)
* (ChildBks, CookBks)	(DoItYBks)

In [59]:
items_books = fpgrowth(df_model, min_support=0.05, use_colnames=True)

In [60]:
items_books

    support                               itemsets
0   0.41550                              (CookBks)
1   0.23825                             (YouthBks)
2   0.39400                             (ChildBks)
3   0.26675                               (GeoBks)
4   0.20475                               (RefBks)
..      ...                                    ...
56  0.10100                     (GeoBks, DoItYBks)
57  0.12775          (CookBks, DoItYBks, ChildBks)
58  0.07750            (GeoBks, CookBks, DoItYBks)
59  0.07375           (GeoBks, DoItYBks, ChildBks)
60  0.06050  (GeoBks, CookBks, DoItYBks, ChildBks)

[61 rows x 2 columns]

In [61]:
association_rules(items_books, min_threshold=0.4, metric='confidence').sort_values(by = ['confidence', 'zhangs_metric'], ascending=[False, False])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
74,"(YouthBks, RefBks, ChildBks)",(CookBks),0.06200,0.41550,0.05525,0.891129,2.144715,0.029489,5.368741,0.569017
87,"(DoItYBks, RefBks, ChildBks)",(CookBks),0.07100,0.41550,0.06125,0.862676,2.076236,0.031749,4.256359,0.557975
63,"(GeoBks, RefBks, ChildBks)",(CookBks),0.05925,0.41550,0.05025,0.848101,2.041158,0.025632,3.847958,0.542208
67,"(YouthBks, RefBks)",(CookBks),0.08125,0.41550,0.06825,0.840000,2.021661,0.034491,3.653125,0.550049
17,"(YouthBks, GeoBks, ChildBks)",(CookBks),0.07550,0.41550,0.06325,0.837748,2.016242,0.031880,3.602429,0.545189
...,...,...,...,...,...,...,...,...,...,...
110,(ChildBks),(DoItYBks),0.39400,0.25475,0.16150,0.409898,1.609022,0.061129,1.262918,0.624595
107,(CookBks),(DoItYBks),0.41550,0.25475,0.16875,0.406137,1.594258,0.062901,1.254919,0.637723
4,(DoItYBks),(YouthBks),0.25475,0.23825,0.10325,0.405299,1.701151,0.042556,1.280896,0.553053
59,"(GeoBks, ChildBks)",(RefBks),0.14625,0.20475,0.05925,0.405128,1.978648,0.029305,1.336843,0.579332
21,"(GeoBks, CookBks)","(YouthBks, ChildBks)",0.15625,0.14750,0.06325,0.404800,2.744407,0.040203,1.432292,0.753330

In [62]:
df_books = df.applymap(lambda x: True if x else False)

In [63]:
items_books = fpmax(df_books, min_support=0.1, use_colnames=True)

In [64]:
items_books

    support                                           itemsets
0   0.10750  (M, ID#, FirstPurch, Related purchase, F, Ital...
1   0.10350  (CookBks, M, ID#, ChildBks, FirstPurch, F, Ref...
2   0.13175  (M, ID#, FirstPurch, Related purchase, F, RefB...
3   0.13750         (M, ID#, Gender, FirstPurch, F, RefBks, R)
4   0.10525  (M, ID#, ChildBks, FirstPurch, Related purchas...
5   0.11300  (CookBks, M, ID#, FirstPurch, Related purchase...
6   0.15550  (M, ID#, Gender, FirstPurch, Related purchase,...
7   0.10325     (YouthBks, DoItYBks, M, ID#, FirstPurch, F, R)
8   0.10450  (YouthBks, GeoBks, M, ID#, FirstPurch, Related...
9   0.10550  (YouthBks, M, ID#, ChildBks, Gender, FirstPurc...
10  0.10800  (YouthBks, M, ID#, ChildBks, FirstPurch, Relat...
11  0.12000  (YouthBks, CookBks, M, ID#, ChildBks, FirstPur...
12  0.10950  (YouthBks, M, ID#, Gender, FirstPurch, Related...
13  0.11650  (YouthBks, CookBks, M, ID#, FirstPurch, Relate...
14  0.11300  (YouthBks, CookBks, M, ID#, Gender, FirstPurch...
15  0.10100  (GeoBks, DoItYBks, M, ID#, FirstPurch, Related...
16  0.11100  (DoItYBks, M, ID#, ChildBks, Gender, FirstPurc...
17  0.11500  (DoItYBks, M, ID#, ChildBks, FirstPurch, Relat...
18  0.12775  (CookBks, M, ID#, ChildBks, DoItYBks, FirstPur...
19  0.11225  (DoItYBks, M, ID#, Gender, FirstPurch, Related...
20  0.12025  (CookBks, M, ID#, DoItYBks, FirstPurch, Relate...
21  0.11700  (CookBks, M, ID#, DoItYBks, Gender, FirstPurch...
22  0.10375  (GeoBks, M, ID#, ChildBks, Gender, FirstPurch,...
23  0.10950  (GeoBks, CookBks, M, ID#, ChildBks, FirstPurch...
24  0.11225  (GeoBks, CookBks, M, ID#, Gender, FirstPurch, ...
25  0.11950  (CookBks, M, ID#, ChildBks, Gender, FirstPurch...

In [65]:
association_rules(items_books, min_threshold=0.1, support_only=True).sort_values(by = ['support'], ascending=[False])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1267,"(Related purchase, FirstPurch, Gender, ID#)","(ArtBks, F, M, R)",NaN,NaN,0.1555,NaN,NaN,NaN,NaN,NaN
1353,"(F, R, FirstPurch)","(M, Gender, Related purchase, ArtBks, ID#)",NaN,NaN,0.1555,NaN,NaN,NaN,NaN,NaN
1366,"(FirstPurch, ID#)","(M, Gender, Related purchase, ArtBks, F, R)",NaN,NaN,0.1555,NaN,NaN,NaN,NaN,NaN
1365,"(Gender, ID#)","(M, Related purchase, FirstPurch, ArtBks, F, R)",NaN,NaN,0.1555,NaN,NaN,NaN,NaN,NaN
1364,"(M, R)","(Gender, Related purchase, FirstPurch, ArtBks,...",NaN,NaN,0.1555,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3349,"(GeoBks, DoItYBks, ID#, F, R)","(Related purchase, M, FirstPurch)",NaN,NaN,0.1010,NaN,NaN,NaN,NaN,NaN
3348,"(GeoBks, DoItYBks, ID#, Related purchase, R)","(F, M, FirstPurch)",NaN,NaN,0.1010,NaN,NaN,NaN,NaN,NaN
3347,"(GeoBks, DoItYBks, Related purchase, F, ID#)","(R, M, FirstPurch)",NaN,NaN,0.1010,NaN,NaN,NaN,NaN,NaN
3346,"(GeoBks, DoItYBks, ID#, FirstPurch, R)","(F, M, Related purchase)",NaN,NaN,0.1010,NaN,NaN,NaN,NaN,NaN
3307,"(GeoBks, DoItYBks, M, FirstPurch, F, ID#)","(R, Related purchase)",NaN,NaN,0.1010,NaN,NaN,NaN,NaN,NaN